{% extends 'base.html' %}

{% load static %}

{% block title %}
    : Photo Home
{% endblock %}

{% block content %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
    </head>
    <style>
        .image {
            width: 250px;
        }

        .container {
            margin: 20px auto;
            text-align: center;
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        h1, body {
            font-family: 'Alegreya Sans SC', sans-serif;
            font-weight: bold;
        }

    </style>

    <div class="container">

        <h1>Photo Home</h1>
        <a href="{% url 'picture_upload' %}">Upload</a>
        <br>
        <br>

        {% for album in albums %}
            <p>{{ album.title }}</p>
            <a href="{% url 'album_view' album.category.slug album.slug %}"><img src="{{ album.photo_album.all.0.image.url }}" class="image"></a>
        {% endfor %}
    </div>
{% endblock %}


{% block footer %}
    {% include 'footer_base.html' %}
{% endblock %}