{% extends 'base.html' %}

{% load static %}

{% block title %}
    : {{ album.title }}
{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
        <link href="{% static 'styles/lightbox.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>
    <style>
        .image_pic {
            width: 200px;
            margin: 5px;
        }


        h1, body {
            font-family: 'Alegreya Sans SC', sans-serif;
            font-weight: bold;
        }

        .grid-item {
            float: left;
            width: 250px;
        }

        .grid {
            margin: 0 auto;
        }

    </style>
    <div class="page_container">
        <div class="container">
            <h1><b>{{ album.title }}</b></h1>
            <p>_________</p>
            <br>
            {{ album.album_details }}
            <br>
            <br>
            <div class="album grid">
                {% for photo in album.photo_album.all %}

                    <a href="{{ photo.image.url }}" data-lightbox="{{ album.alt_text }}"
                       data-title="<a href='{% url 'picture_view' album.category.slug album.slug photo.slug %}'>{{ photo.image_details }}</a>"><img src="{{ photo.image.url }}" class="image_pic grid-item "></a>

{#                    <a href="{% url 'picture_view' album.category.slug album.slug photo.slug %}">{{ photo.image_details }}</a>#}

                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'javascript/lightbox.js' %}"></script>
    <script src="{% static 'javascript/masonry.js' %}"></script>
    <script src="{% static 'javascript/masonry_imagesLoaded.js' %}"></script>

    <script>
        $('.grid').masonry({
            // options
            itemSelector: '.grid-item',
            columnWidth: 0,
            isFitWidth: true
        });

        // init Masonry
        var $grid = $('.grid').masonry({
            // options...
        });
        // layout Masonry after each image loads
        $grid.imagesLoaded().progress(function () {
            $grid.masonry('layout');
        });
    </script>

{% endblock %}

{% block footer %}
    {% include 'footer_base.html' %}
{% endblock %}