{% extends 'base.html' %}

{% load static %}

{% block title %}
    : Photo Home
{% endblock %}

{% block content %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/jquery.fancybox-1.3.4.css' %}" type="text/css">

        <script type='text/javascript' src='{% static 'javascript/jquery.min.js' %}'></script>
        <script type='text/javascript' src='{% static 'javascript/jquery.fancybox-1.3.4.pack.js' %}'></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            function calcImg(img) {
                console.log(img);
                let h = $(img).height();
                let w = $(img).width();

                console.log(h);
                console.log(w);

                if ($(img).parent('.album-image-wrap').length === 0) {
                    // wrap the image in a "cropping" div
                    $(img).wrap('<div class="album-image-wrap"></div>');
                }

                if (h > w) {
                    // pic is portrait
                    $(img).addClass('portrait');
                    let m = -(((h / w) * 100) - 100) / 2; //math the negative margin
                    $(img).css('margin-top', m + '%');
                } else if (w > h) {
                    // pic is landscape
                    $(img).addClass('landscape');
                    let m = -(((w / h) * 100) - 100) / 2;  //math the negative margin
                    $(img).css('margin-left', m + '%');
                } else {
                    // pic is square
                    $(img).addClass('square');
                }
            }
        </script>
        <script type="text/javascript">
            $(function() {
                $("a.group").fancybox({
                    'nextEffect'	:	'fade',
                    'prevEffect'	:	'fade',
                    'overlayOpacity' :  0.8,
                    'overlayColor' : '#000000',
                    'arrows' : false,
                });
            });
        </script>
    </head>
    <style>
        body {
            font-family: 'Alegreya Sans SC', sans-serif;
        }
    </style>
    <div class="page_container">
        <div class="search_container">
            <form method="GET" action="">
                <div class="search_div">
                    <input type="text" name="q" placeholder="Search..." id="search_bar" value="{{ request.GET.q }}">
                    <button type="submit" value="Search" class="search_button"><img src="/static/R_E_M/img/search_icon.png" alt="search_logo"
                                                          id="search_img"/></button>
                </div>
            </form>
        </div>
        <div class="categories-link-set">
            {% for c in album_cats %}
                <span class="checkbox" id="{{ c.slug }}">
                    <input class="filter-checkbox" type="checkbox">
                    <label for="{{ c.name }}">{{ c.name }}</label>
                </span>
            {% endfor %}
        </div>
        <div class="line_container">
            <hr>
        </div>
        <div class="ajax_div">
        </div>
        <div class="container">
            {% if user.is_authenticated %}
                <h4 id="photoModalBtn">Create New Album</h4>
                <br>
                <!-- The Modal -->
                <div id="photoModal" class="album_modal">

                    <!-- Modal content -->
                    <div class="album_modal_content">

                        <form method="post" enctype="multipart/form-data" class="album_upload_form">
                            {% csrf_token %}
                            <div class="album-input-row">
                                <h2>Album Upload</h2>
                                <span>
                                    <input class='album_modal_btn' name="images" type="file" value="Add Photos" multiple id="gallery-photo-add">
                                    <span class="album-close">&times;</span>
                                </span>
                            </div>
                            <div class="album_gallery">
                                <div class="album_info">
                                    <input type="text" id="album_title" name="album_title" class="resizedTextbox" placeholder="Album Title">
                                    <input type="text" id="album_alt_text" name="album_alt_text" placeholder="Album Alt Text" class="resizedTextbox">
                                    <input list="categories" id="album_category" name="album_category" placeholder="Album Category" class="resizedTextbox">
                                    <datalist id="categories">{% for c in album_cats %}<option value="{{ c.name }}">{% endfor %}</datalist>
                                    <textarea rows="4" cols="50" id="album_details" name="album_details" placeholder="Album Details" class="resizedTextbox album_details"></textarea>
                                </div>
                                <div class="album_gallery_images" id="album_gallery_images"></div>
                            </div>
                            <div class="album-submit-row">
                                <input class='album_modal_btn' type="submit" value="Create Album">
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
            <div class="album_container" id="album_container">
                {% for album in albums %}
                    <a href="{% url 'album_view' album.category.slug album.slug %}" class="text {{ album.category.slug }}">
                        <div class="album_set">
                            <img src="{{ album.photo_album.all.0.image.url }}" class="album-image"
                                 alt="{{ album.photo_album.all.0.alt_text }}" onload="calcImg(this)">
                            <div class="middle">
                                <div class="text text_top">{{ album.title }}</div>
                                <div class="text text_center">
                                    <hr>
                                </div>
                                <div class="text text_bottom">{{ album.album_details }}</div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
<!--
    <?php
		// Supply a user id and an access token
		$userid = "";
		$accessToken = "";

		// Gets our data
		function fetchData($url){
		     $ch = curl_init();
		     curl_setopt($ch, CURLOPT_URL, $url);
		     curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
		     curl_setopt($ch, CURLOPT_TIMEOUT, 20);
		     $result = curl_exec($ch);
		     curl_close($ch);
		     return $result;
		}

		// Pulls and parses data.
		$result = fetchData("https://api.instagram.com/v1/users/{$userid}/media/recent/?access_token={$accessToken}");
		$result = json_decode($result);
	?>

	<?php foreach ($result->data as $post): ?>
{#		<!-- Renders images. @Options (thumbnail,low_resoulution, high_resolution) -->#}
		<a class="group" rel="group1" href="<?= $post->images->standard_resolution->url ?>"><img src="<?= $post->images->thumbnail->url ?>"></a>
	<?php endforeach ?>
-->
    <script>
    /*
        $(document).ready(function () {
            setTimeout(function() {
                calcImgs()
            }, 50)
        });

        function calcImgs() {
            $('img.album-image').each(function () {
                let h = $(this).height();
                let w = $(this).width();

                // console.log(h);
                // console.log(w);

                if ($(this).parent('.album-image-wrap').length === 0) {
                    // wrap the image in a "cropping" div
                    $(this).wrap('<div class="album-image-wrap"></div>');
                }

                if (h > w) {
                    // pic is portrait
                    $(this).addClass('portrait');
                    let m = -(((h / w) * 100) - 100) / 2; //math the negative margin
                    $(this).css('margin-top', m + '%');
                } else if (w > h) {
                    // pic is landscape
                    $(this).addClass('landscape');
                    let m = -(((w / h) * 100) - 100) / 2;  //math the negative margin
                    $(this).css('margin-left', m + '%');
                } else {
                    // pic is square
                    $(this).addClass('square');
                }
            })
        }
        */

        $('.checkbox').click(function () {
            let cat = this.id;

            // removing shade from other elements
            $('.checkbox').each(function (i, el) {
                $(el).removeClass('checkFocus');
            });

            $(this).addClass('checkFocus');
        });


        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(".checkbox").click(function () {
            let cat = this.id;
            // console.log(category);
            $.ajax({
                url: "{% url "photo_ajax" %}",
                method: "POST",
                data: {
                    category: cat
                },
                success: function (response) {
                    //console.dir(response);
                    let ac = $("#album_container");
                    let html = "";
                    $(ac).html('');
                    $(response).each(function (i, album) {
                        html += `<a href="/photography/galleries/${album.category.slug}/${album.slug}" class="text ${album.category.slug}"><div class="album_set">
                                    <img src="${album.photo_album[0].url}" class="album-image" onload="calcImg(this)" alt="${album.photo_album[0].alt_text}">
                                    <div class="middle">
                                        <div class="text text_top">${album.title}</div>
                                        <div class="text text_center">
                                            <hr>
                                        </div>
                                        <div class="text text_bottom">${album.album_details}</div>
                                    </div>
                                </div>
                            </a>`
                    });
                    $(ac).html(html);
                    calcImgs();
                }
            });
        });

        // IMAGE UPLOADER PLUS MODAL
        let imagesPreview = function (input, placeToInsertImagePreview) {
            $(placeToInsertImagePreview).html('');
            let album_html = '<div class="album_info"><input type="text" id="album_title" name="album_title" class="resizedTextbox" placeholder="Album Title"><input type="text" id="album_alt_text" name="album_alt_text" placeholder="Album Alt Text" class="resizedTextbox"><input list="categories" id="album_category" name="album_category" placeholder="Album Category" class="resizedTextbox"><datalist id="categories">{% for c in album_cats %}<option value="{{ c.name }}">{% endfor %}</datalist><textarea rows="4" cols="50" id="album_details" name="album_details" placeholder="Album Details" class="resizedTextbox album_details"></textarea></div><div class="album_gallery_images" id="album_gallery_images"></div>';
            $(placeToInsertImagePreview).append(album_html);

            if (input.files) {
                let filesAmount = input.files.length;

                for (let i = 0; i < filesAmount; i++) {
                    let reader = new FileReader();
                    let num = i;
                    let name = input.files[i].name;
                    reader.onload = function (event) {
                        let html = $(`<div class="img_holder" id="image_${num + 1}"></div>`, {
                            'id': `image_div_${num + 1}`
                        })
                            .append($(`<input>`).attr({
                                'type': 'hidden',
                                'value': event.target.result,
                                'name': `image_${num + 1}`
                            }))
                            .append($(`<span class="album-close" id="close_image_${num + 1}" onClick="removeElement('album_gallery_images', 'image_${num + 1}')">&times;</span><img class="album_image" src="${event.target.result}" id="new_picture_${num + 1}"><div><label for="image_name_${num + 1}">Photo Title</label></div><div><input type="text" value="${name}" name="image_name_${num + 1}"></div><div><label for="alt_text_${num + 1}">Alt Text</label></div><div><input type="text" id="alt_text_${num + 1}" name="alt_text_${num + 1}" value="${name}"></div><div><label for="creation_date_${num + 1}">Date Taken</label></div><div><input type="date" id="creation_date_${num + 1}" name="creation_date_${num + 1}"></div><div><label for="image_details_${num + 1}">Image Details</label></div><div><input type="textarea" id="image_details_${num + 1}" name="image_details_${num + 1}"></div>`));
                        $('div.album_gallery_images').append(html);
                    };

                    reader.readAsDataURL(input.files[i]);
                }
            }
            input.value = ''
        };
        $('#gallery-photo-add').on('change', function () {
            imagesPreview(this, 'div.album_gallery');
        });

        function removeElement(parentDiv, childDiv) {
            console.log("Child Div is " + childDiv);
            console.log("Parent Div is " +parentDiv);
            if (childDiv == parentDiv) {
                alert("The parent div cannot be removed.")
            } else if (document.getElementById(childDiv)) {
                let child = document.getElementById(childDiv);
                let parent = document.getElementById(parentDiv);
                console.log("Child Div is " + child);
                console.log("Parent Div is " + parent);
                parent.removeChild(child);
            }
            else {
                alert("Child div has already been removed or does not exist.");
                return false;
            }
        }



        // Get the modal
        let photoAlbumModal = document.getElementById('photoModal');

        // Get the button that opens the modal
        let photoAlbumBtn = document.getElementById("photoModalBtn");

        // Get the <span> element that closes the modal
        let span = document.getElementsByClassName("album-close")[0];

        // When the user clicks the button, open the modal
        photoAlbumBtn.onclick = function() {
            photoAlbumModal.style.display = "block";
        };

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            photoAlbumModal.style.display = "none";
            let ac = $("div.album_gallery_images");
            $(ac).html('');
        };
    </script>
{% endblock %}


{% block footer %}
    {% include 'footer_base.html' %}
{% endblock %}