{% extends 'base.html' %}

{% load static %}

{% block title %}
    : {{ album.title }}
{% endblock %}

{% block content %}
    <head>
        <link href="{% static 'styles/lightbox.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {#        <script#}
        {#                src="https://code.jquery.com/jquery-2.0.0.js"#}
        {#                integrity="sha256-iW43nTNM8LFseNmWKhV5FHFW1KcjVQMvzg3l9nPU4oc="#}
        {#                crossorigin="anonymous"></script>#}

    </head>
    <style>
        img {
            width: 250px;
        }

        .container {
            margin: 20px auto;
            text-align: center;
            width: 70%;
        }

        h1, body {
            font-family: 'Alegreya Sans SC', sans-serif;
            font-weight: bold;
        }

    </style>

    <div class="container">
        <h1><b>{{ album.title }}</b></h1>
        <p>_________</p>
        <br>
        {{ album.album_details }}
        <br>
        <br>
        <div>
            {% for photo in album.photo_album.all %}

                <a href="{{ photo.image.url }}" data-lightbox="{{ album.alt_text }}"
                   data-title="{{ photo.image_details }}"><img src="{{ photo.image.url }}"></a>

            {% endfor %}
        </div>
    </div>

    {#    <script src="path/to/lightbox.js"></script>#}
    <script src={% static 'javascript/lightbox.js' %}" ></script>



{% endblock %}