{% extends 'base.html' %}


{% load static %}
{% load R_E_M_tags %}
{% load martortags %}

{% block title %}{{ blog.title }}{% endblock %}
{% block content %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
    </head>
    <style>
        /*
            p, li {
                margin: auto;
                padding: auto;
            }

            ol, ul {
                list-style: inherit;
            }
    */

        p, blockquote, ol, ul, li {
            font-family: 'Alegreya Sans SC', sans-serif;
            text-align: left;
        }

        i, cite, em, var, address, dfn {
            font-style: italic;
        }

        strong {
            font-weight: bold;
        }

    </style>

    <div class="page_container">
        <div class="blog_content_container">
            <div class="blog_image_holder">
                {% blog_image_or_default blog %}
            </div>

            <div class="blog_header">

                <!-- Title -->
                <h2>{{ blog.title }}</h2>

                <!-- Author -->
                <p class="lead">
                    by
                    <a href="#" class="author">{{ blog.author.username }}</a>
                </p>

                <!-- Date/Time -->
                <p class="post-time">Posted on {{ blog.date }}</p>
            </div>
            <!--Post content-->
{#            <pre>{{ blog.content|safe_markdown }}</pre>#}
            {{ blog.content|safe_markdown }}

            {% if blog.youtube_link %}

                {{ blog.youtube_link|safe }}

            {% endif %}
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include 'footer_base.html' %}
{% endblock %}