{% extends 'base.html' %}


{% load static %}
{% load R_E_M_tags %}
{% load martortags %}

{% block title %}{{ blog.title }}{% endblock %}
{% block content %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
    </head>
    <style>


    </style>

    <div class="page_container">
        <div class="blog_content_container">

            {% blog_image_or_default blog %}
            <div class="blog_header">

                <!-- Title -->
                <h2>{{ blog.title }}</h2>

                <!-- Author -->
                <p class="lead">
                    by
                    <a href="#" class="author">{{ blog.author.username }}</a>
                </p>

                <!-- Date/Time -->
                <p class="post-time">Posted on {{ blog.date }}</p>
            </div>
            <!--Post content-->
            <pre>{{ blog.content|safe_markdown }}</pre>

            {% if blog.youtube_link %}

                {{ blog.youtube_link|safe }}

            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer_base.html' %}
{% endblock %}