{% extends 'base.html' %}

{% load static %}
{% load R_E_M_tags %}
{% load martortags %}

{% block title %}
    : Blog Home
{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'trumbowyg/dist/ui/trumbowyg.css' %}">
    </head>
    <style>


    </style>

    <div class="page_container">
        <div class="title_header"><h1>Remington's Blog</h1>
            <p>My thoughts, views, or insights ranging from literature to film to technology. Search by title, category,
                or content.</p></div>
        <div class="search_container">
            <form method="GET" action="">
                <div class="search_div">
                    <input type="text" name="q" placeholder="Search..." id="search_bar" value="{{ request.GET.q }}">
                    <button type="submit" value="Search" class="search_button"><img
                            src="/static/R_E_M/img/search_icon.png" alt="search_logo"
                            id="search_img"/></button>
                </div>
            </form>
        </div>
        <div class="categories-link-set">
            {% for c in cat %}
                <span class="checkbox" id="{{ c.slug }}">
                    <input class="filter-checkbox" type="checkbox">
                    <label for="{{ c.name }}">{{ c.name }}</label>
                </span>
            {% endfor %}
                <span class="checkbox" id="All">
                    <input class="filter-checkbox" type="checkbox">
                    <label for="All">Reset Categories</label>
                </span>

        </div>
        <div class="line_container">
            <hr>
        </div>
        <div class="ajax_div">
        </div>
        <div class="container">
            {% if user.is_authenticated %}
                <h4 id="blogModalBtn">Create New Blog</h4>
                <br>
                <!-- The Modal -->
                <div id="blogModal" class="blog_modal">

                    <!-- Modal content -->
                    <div class="blog_modal_content">

                        <form method="post" enctype="multipart/form-data" class="blog_upload_form">
                            {% csrf_token %}
                            <div class="blog-input-row">
                                <h2>Blog Upload</h2>
                                <span>
                                <span class="blog-close">&times;</span>
                            </span>
                            </div>
                            <div class="blog_gallery">
                                <div class="blog_info">
                                    <input type="text" id="blog_title" name="blog_title" class="resizedTextbox"
                                           placeholder="Blog Title">
                                    <input list="categories" id="category" name="category" placeholder="Blog Category"
                                           class="resizedTextbox">
                                    <datalist id="categories">{% for c in cat %}
                                        <option value="{{ c.name }}">{% endfor %}</datalist>
                                    <input type="text" id="youtube_link" name="youtube_link" placeholder="YouTube Link"
                                           class="resizedTextbox">
                                    <br>
                                    <br>
                                    <br>
                                    <p>Blog Image</p>
                                    <input type="file" id="blog_image" name="blog_image" class="resizedTextbox">
                                    <input type="text" id="alt_text" name="alt_text" placeholder="Alt Text"
                                           class="resizedTextbox">
                                </div>
                                <div class="blog-details-row">
                                    <textarea id="blog_content" name="blog_content" cols="30" rows="10"
                                              placeholder="Blog Content"></textarea>
                                </div>
                            </div>
                            <div class="blog-submit-row">
                                <input class='blog_modal_btn' type="submit" id="sub-btn" value="Create Blog">
                            </div>
                        </form>
                    </div>
                </div>

            {% endif %}
        </div>
        <div class="blog_container" id="blog_container">
            {% for b in blog_list %}
                <div class="blog {{ b.category.slug }}" data-image-src>
                    <div class="image_holder" data-parallax="scroll" data-src="{{ b.image.url }}"
                         data-image-src="{{ b.image.url }}">
                        <a href="{% url 'blog_single_view' b.category.slug b.slug %}"
                           class="blog_button">Read More &nbsp; &nbsp; &nbsp; &nbsp;></a>
                    </div>

                    <div class="main_content">
                        <div class="category">Blog / {{ b.category }}</div>
                        <h2 class="blog-title"> {{ b.title }}</h2>
                        <div class="card-footer"><i>~ Posted on {{ b.date }}</i></div>
                        <pre class="blog-text">{{ b.content|safe_markdown }}</pre>
                        <div class="blog_fade"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Pagination -->
        {% if blog_list.has_other_pages %}
            <div class="text-center">
                <input type="hidden" id="startIndex" value="{{ start_index }}">
                <ul id="paginator" class="pagination pagination-lg text-center">

                    {% if blog_list.has_previous %}
                        <li><a href="?page={{ blog_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}

                    {% if start_index %}
                        <li><a href="?page={{ start_index }}">{{ start_index }}</a></li>
                        <li class="disabled"><span>&mldr;</span></li>
                    {% endif %}

                    {% for i in page_range %}
                        {% if blog_list.number == i %}
                            <li class="active"><span>{{ i }}</span></li>
                        {% else %}
                            <li><a href="?page={{ i }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if blog_list.has_next %}
                        {% if end_index %}
                            <li class="disabled"><span>&mldr;</span></li>
                            <li><a href="?page={{ end_index }}">{{ end_index }}</a></li>
                        {% endif %}
                        <li><a href="?page=



                                {{ blog_list.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}

                </ul>
            </div>
        {% endif %}
    </div>
    <!-- Import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Import Trumbowyg -->
    <script src="{% static  'trumbowyg/dist/trumbowyg.js' %}"></script>

    <!-- Parallax -->
    <script src="{% static 'javascript/parallax.js-1.5.0/parallax.js' %}"></script>

    <!-- blog specific javascript -->
    <script src="{% static 'javascript/blog_home.js' %}"></script>

{% endblock %}

{% block footer %}
    {% include 'footer_base.html' %}
{% endblock %}