{% extends 'base.html' %}


{% load static %}

{% block title %}
    : About
{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
    </head>
    <style>

        .bio_photo {
            height: 350px;
            float: right;
            margin: 5px;
        }

        @media (max-width: 1024px) and (min-width: 766px) {
            .bio_photo {
                height: 250px;
                float: right;
                margin: 10px;
            }
        }

        @media only screen and (max-width: 766px) {
            .bio_photo {
                width: 100%;
                height: auto;
                float: none;
                margin: 0;
            }
        }


    </style>
    <div class="page_container">
        <div class="bio_container">
            <div class="bio_header">
                <h1>Bio</h1>
                <hr>
            </div>


            <p>I was born and raised in Klamath Falls, Oregon. When I was ten, my family moved out to the countryside,
                and two of my passions developed from having long open roads spreading off in every direction:
                cross-country running and cycling.</p>

            <img class="bio_photo" src="{% static "R_E_M/img/beach_photoshoot_tiny.JPG" %}">

            <p>I also spent a lot of time outdoors with the Boy Scouts. I went on to attain the rank of Eagle Scout
                (within two weeks of my 18th birthday much to my parent’s chagrin).</p>

            <p>Academically, I participated in Chess Tournaments from the fourth grade all the way through high school
                where I also picked up Mathematics Competitions (competing at the state level for Calculus as a
                senior).</p>

            <p>After graduating high school, I studied at Claremont McKenna College (class of 2014) in Southern
                California. I started out in Biology thinking I wanted to go to Medical School but changed my mind
                deciding I wanted to pursue film instead. I promptly switched to Literature where I learned the
                foundations of Story Structure from a classics perspective (something I take into account every time I
                start a story). Although I toyed with going to film school, I ultimately decided I wanted to approach
                the industry from the independent film market and bought my first camera, the Canon T3. From there, I
                took thousands of shots and random videos before moving on to the Canon T3i, then the Canon 6D, followed
                by the Canon 5D Mark III, and finally, have settled on the Sony a7RIII.</p>

            <p>I paid my way through college by way of Army ROTC. I commisioned into the Oregon Army National Guard in
                2014 and spent the next four years with a Forward Support Company (FSC) based out of Medford, OR. My
                first role was as a Maintenance Platoon leader and then eventually moved on to the company's Executive
                Officer. I found my passion in Public Affairs and transferred to an MPAD in Salem, Oregon. I graduated
                as an Honor Graduate from PAQC at the Defense Information School in 2020 and finally moved to my current 
                position as a State PAO with the Colorado Army National Guard.</p>

            <p>Interspersed through my military work has been various civilian occupations. The most notable of which was 
                working with U.S. Bank on their ICS Mobile App team as a Front End Developer. I started with them after having
                first attending a Full Stack Developer Bootcamp in Portland, OR and worked with Dr. Brian Martin with his company
                Recentia before getting the offer with U.S. Bank. I worked with them for a year and a half before leaving for my current
                position with the Colorado National Guard. 
            </p>
        </div>
    </div>




{% endblock %}

{% block footer %}

    {% include 'footer_base.html' %}
{% endblock %}