{% extends 'base.html' %}

{% load static %}

{% block title %}
    : Contact
{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
    </head>
    <style>
        {#html, body {#}
        {#    height: 100%;#}
        {#    margin: 0;#}
        {#}#}

    </style>

    <body>
    <div class="page_container">
        <h1>Contact</h1>
    </div>
    </body>

{% endblock %}

{% block footer %}
    {% include 'footer_base.html' %}
{% endblock %}