{% extends 'base.html' %}

{% load static %}

{% block title %}
    : Contact
{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
    </head>
    <style>

    </style>

    <div class="page_container">
        <div class="contact_container">
            <div class="contact_header">
                <h1>Contact</h1>
                <hr>
            </div>
            <form method="post" enctype="multipart/form-data" class="contact_form">
                {% csrf_token %}
                <span>Email Address*</span>
                <br>
                <input type="text" class="contact_input" name="contact_email">
                <br>
                <span>Subject*</span>
                <br>
                <input type="text" class="contact_input" name="contact_subject">
                <br>
                <span>Subject*</span>
                <br>
                <textarea type="text" class="contact_input_body" name="contact_body"></textarea>
                <div class="contact_submit">
                    <input class='contact_submit_button' type="submit" value="Submit">
                </div>

            </form>
            <div class="contact_description">
                <p>Feel free to contact me here. I read every email but know that my priorities right now are in my
                    webdev work. I am always open to film collaborations or photoshoots, but I'll be honest that my time
                    spread thin with my current projects as it is. But if you like my work, let me know about your
                    project, and I'll tell you whether it's something I'd be able to do or not.</p>
                <br>
                <p>If you have any inquiry about a specific image of mine and would like to buy a print, I'm also open
                    to that. </p>
                <br>
                <p></p>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include 'footer_base.html' %}
{% endblock %}