<!-- From Photo Home -->

<style>
    /*
.invisible{
    display: none !important;
}
.visibility {
    width: 310px;
    height: 310px;
}
*/
</style>
<div class="album_container infinite-container" id="album_container">
    {% for album in albums %}
        <span class="visibility">
                <a href="{% url 'album_view' album.category.slug album.slug %}"
                   class="text {{ album.category.slug }} infinite-item album_item album_move">
                    <div class="album_set">
                        <img src="{{ album.photo_album.all.0.image.url }}" class="album-image"
                             alt="{{ album.photo_album.all.0.alt_text }}" onload="calcImg(this)">
                        <div class="middle">
                            <div class="text text_top">{{ album.title }}</div>
                            <div class="text text_center">
                                <hr>
                            </div>
                            <div class="text text_bottom">{{ album.album_details }}</div>
                        </div>
                    </div>
                </a>
                </span>
    {% endfor %}
</div>
{% if albums.has_other_pages %}
    <div class="text-center">
        <input type="hidden" id="startIndex" value="{{ start_index }}">
        <ul id="paginator" class="pagination pagination-lg text-center">

            {% if albums.has_previous %}
                <li><a href="?page=

                        {{ albums.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">&laquo;</a>
                </li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% if start_index %}
                <li><a href="?page={{ start_index }}">{{ start_index }}</a></li>
                <li class="disabled"><span>&mldr;</span></li>
            {% endif %}

            {% for i in page_range %}
                {% if albums.number == i %}
                    <li class="active"><span>{{ i }}</span></li>
                {% else %}
                    <li><a href="?page=

                            {{ i }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if albums.has_next %}
                {% if end_index %}
                    <li class="disabled"><span>&mldr;</span></li>
                    <li><a href="?page={{ end_index }}">{{ end_index }}</a></li>
                {% endif %}
                <li><a href="?page=

                        {{ albums.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
                </li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}

        </ul>
    </div>
{% endif %}

<script>
    //$(".album_item").each(function (i) {
    //    $(this).delay(600*i).addClass('album_move')
    //});


    $(".album_item").each(function () {
        $(this).addClass('album_move')
    });

    // $(".album_item").each(setTimeout(
    //     function () {
    //     $(this).addClass('album_move')
    // }, 500));

    /*
$(document).ready(function () {
    setTimeout(function() {
        calcImgs()
    }, 50)
});

function calcImgs() {
    $('img.album-image').each(function () {
        let h = $(this).height();
        let w = $(this).width();

        // console.log(h);
        // console.log(w);

        if ($(this).parent('.album-image-wrap').length === 0) {
            // wrap the image in a "cropping" div
            $(this).wrap('<div class="album-image-wrap"></div>');
        }

        if (h > w) {
            // pic is portrait
            $(this).addClass('portrait');
            let m = -(((h / w) * 100) - 100) / 2; //math the negative margin
            $(this).css('margin-top', m + '%');
        } else if (w > h) {
            // pic is landscape
            $(this).addClass('landscape');
            let m = -(((w / h) * 100) - 100) / 2;  //math the negative margin
            $(this).css('margin-left', m + '%');
        } else {
            // pic is square
            $(this).addClass('square');
        }
    })
}
*/

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    let csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // AJAX Call based on Category Button Clicked
    // $(".checkbox").click(function () {
    //     let cat = this.id;
    //     // console.log(category);
    //     $.ajax({
    //         url: "{% url "photo_ajax" %}",
    //         method: "POST",
    //         data: {
    //             category: cat
    //         },
    //         success: function (response) {
    //             //console.dir(response);
    //             let ac = $("#album_container");
    //             let html = "";
    //             $(ac).html('');
    //             $(response).each(function (i, album) {
    //                 html += `<a href="/photography/galleries/${album.category.slug}/${album.slug}" class="text ${album.category.slug}"><div class="album_set">
    //                             <img src="${album.photo_album[0].url}" class="album-image" onload="calcImg(this)" alt="${album.photo_album[0].alt_text}">
    //                             <div class="middle">
    //                                 <div class="text text_top">${album.title}</div>
    //                                 <div class="text text_center">
    //                                     <hr>
    //                                 </div>
    //                                 <div class="text text_bottom">${album.album_details}</div>
    //                             </div>
    //                         </div>
    //                     </a>`
    //             });
    //             $(ac).html(html);
    //             calcImgs();
    //         }
    //     });
    // });


</script>


<!-- From Movie Home -->

{% if movies.has_other_pages %}
    <div class="text-center">
        <input type="hidden" id="startIndex" value="{{ start_index }}">
        <ul id="paginator" class="pagination pagination-lg text-center">

            {% if movies.has_previous %}
                <li><a href="?page=
                        {{ movies.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">&laquo;</a>
                </li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% if start_index %}
                <li><a href="?page={{ start_index }}">{{ start_index }}</a></li>
                <li class="disabled"><span>&mldr;</span></li>
            {% endif %}

            {% for i in page_range %}
                {% if movies.number == i %}
                    <li class="active"><span>{{ i }}</span></li>
                {% else %}
                    <li><a href="?page=
                            {{ i }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}


            {% if movies.has_next %}
                {% if end_index %}
                    <li class="disabled"><span>&mldr;</span></li>
                    <li><a href="?page={{ end_index }}">{{ end_index }}</a></li>
                {% endif %}
                <li><a href="?page=
                        {{ movies.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
                </li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}

        </ul>
    </div>
{% endif %}

<script>
    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

         //   $(".checkbox").click(function () {
     //       let cat = this.id;
     //       console.log(cat);
     //       $.ajax({
     //           url: "{% url "movie_ajax" %}",
     //           method: "POST",
     //           data: {
     //               category: cat
     //           },
     //           success: function (response) {
     //               let mc = $("#movie_card_container");
     //               let html = "";
     //               $(mc).html('');
     //               $(response).each(function (i, movie) {
     //                   console.dir(response)
     //                   html += `<div class="movie-card ${movie.category.slug}">
     //                               <img src="${movie.movie_poster.url}" class="movie_poster"/>
     //                               <div class="title-content">
     //                                   <h3>${movie.title}</h3>
     //                                   <hr/>
     //                                   <div class="intro">${movie.tag_line}</div>
     //                               </div><!-- /.title-content -->
     //                               <div class="card-info">
     //                                   ${movie.movie_details}
     //                               </div><!-- /.card-info -->
     //                               <div class="movie_read_more">
     //                                   <a href="/filmmaking/movies/${movie.category.slug}/${movie.slug}" class="movie_button">Read More</a>
     //                               </div>
     //                               <div class="utility-info">
     //                                   <ul class="utility-list">
     //                                       <li class="comments">12</li>
     //                                       <li class="date">${movie.date_built}</li>
     //                                   </ul>
     //                               </div>
     //                               <div class="gradient-overlay"></div>
     //                               <div class="color-overlay"></div>
     //                           </div>`
     //               });
     //               $(mc).html(html);
     //           }
     //       });
     //   });


</script>