{% extends 'base.html' %}


{% load static %}

{% block title %}
    : Technology
{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
    </head>
    <style>

    </style>
    <div class="tech_container">
        <div class="tech_header">
            <h1>Technology & Equipment</h1>
            <hr>
        </div>
        <p>
            I’ve seen a lot of “What’s in my camera bag” videos online over the past five years which, from my
            perspective as a self-taught filmmaker, have always proved extremely helpful. They generally would do
            two things for me: 1) they brought a piece of equipment to my attention that I didn’t know existed or
            2) they would recommend a single brand out of the intimidating Ocean of options. For those reasons,
            I’ve decided to post a detailed list of my equipment with the hope that it may benefit others.
        </p>
        <br>
        <p>
            At the moment, my website is in its infancy. As such, this page is pretty barren but I intend to update
            it with a bit of my thoughts and views on what I've used so far when I have the time. I might even write a
            blog posting on some if necessary.
        </p>

        <p class="bullet_heading">Photography:</p>
        <ul>
            <li class="layer1">Sony a7RIII</li>
            <li class="layer1">Lenses (w/ Sigma Mount-Converter 11 for all):</li>
            <ul class="sublist">
                <li class="layer2">Canon EF 24-104mm f/4.0 L</li>
                <li class="layer2">Canon EF 28mm f/1.8, Canon EF 50mm f/1.4</li>
                <li class="layer2">Canon EF 28mm f/1.8, Canon EF 85mm f/1.8</li>
            </ul>
            <li class="layer1">Flashes:</li>
            <li class="layer1">Godox X1-S (wireless remote)</li>
            <li class="layer1">Godox TT685S (x3)</li>
        </ul>
        <p class="bullet_heading">Filmmaking:</p>
        <ul>
            <li class="layer1">Rhino Slider (Ultimate Slider Bundle)</li>
            <li class="layer1">Kessler Pocket Jib</li>
            <li class="layer1">Glidecam Stabilizer & Support Sys</li>
        </ul>
        <p class="bullet_heading">Audio Recording:</p>
        <ul>
            <li class="layer1">Zoom H6N Recorder</li>
            <li class="layer1">Rode NTG2 Microphone</li>
            <li class="layer1">Sennheiser EW112P Lav Mics</li>
        </ul>
    </div>
    </div>


{% endblock %}

{% block footer %}

    {% include 'footer_base.html' %}
{% endblock %}