{% extends 'base.html' %}

{% load static %}
{% load R_E_M_tags %}

{% block title %}
    : {{ movie.title }}
{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
        {#        <link href="{% static 'styles/lightbox.css' %}" rel="stylesheet">#}
        <link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick-theme.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/movie_view.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <div class="page_container">
        <div class="movie_content_container">
            <div class="movie_header">
                <h1>{{ movie.title }}</h1>
                <hr>
                <p>{{ movie.tag_line }}</p>
            </div>

            {% if movie.youtube %}
                {{ movie.youtube|safe }}
            {% endif %}
            <pre>{{ movie.movie_details }}</pre>

            <img src="{{ movie.movie_poster.url }}" alt="{{ movie.alt_text }}" class="poster">


            {% movie_pdf_or_default movie %}

{#            <object class="script" data="{{ movie.movie_script.url }}">#}
{#                <p>Your web browser doesn't have a PDF plugin.#}
{#                    Instead you can <a href="{{ movie.movie_script.url }}">click here to#}
{#                        download the PDF file.</a>#}
{#                </p>#}
{#            </object>#}
            {#            <a href="{{ movie.movie_script.url }}">click here to#}
            {#                        download the PDF file.</a>#}


            <div class="still_slider_container">
                <div class="slider slider-single">
                    {% for still in movie.movie_photo_album.all %}
                        <div class="movie_still_container">
                            <img src="{{ still.image.url }}" class="center_image">
                        </div>
                    {% endfor %}
                </div>
                <div class="slider slider-nav">
                    {% for still in movie.movie_photo_album.all %}
                            <img src="{{ still.image.url }}" class="preview_image">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'slick-1.8.1/slick/slick.min.js' %}"></script>
    <script src="{% static 'javascript/movie_view.js' %}"></script>

{% endblock %}

{% block footer %}
    {% include 'footer_base.html' %}
{% endblock %}