{% extends 'base.html' %}

{% load static %}

{% block title %}
    : WebDev Home
{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- webdev specific javascript -->
        <script src="{% static 'javascript/web_dev_top.js' %}"></script>

    </head>

    <div class="page_container">
        <div class="title_header"><h1>Remus Ex Machina: Webdev Works</h1>
            <p>I started coding in November 2017 with a bootcamp and became hooked immediately. The focus of the course
                was in Python and the Django REST framework. After building a few web apps through Django, I am
                currently learning the React framework to master Javascript ES6.</p>
        </div>
        <div class="search_container">
            <form method="GET" action="">
                <div class="search_div">
                    <input type="text" name="q" placeholder="Search..." id="search_bar" value="{{ request.GET.q }}">
                    <button type="submit" value="Search" class="search_button"><img
                            src="/static/R_E_M/img/search_icon.png" alt="search_logo"
                            id="search_img"/></button>
                </div>
            </form>
        </div>
        <div class="categories-link-set">
            {% for c in website_cats %}
                <span class="checkbox" id="{{ c.slug }}">
                    <input class="filter-checkbox" type="checkbox">
                    <label for="{{ c.name }}">{{ c.name }}</label>
                </span>
            {% endfor %}
                <span class="checkbox" id="All">
                    <input class="filter-checkbox" type="checkbox">
                    <label for="All">Reset Categories</label>
                </span>

        </div>
        <div class="line_container">
            <hr>
        </div>
        <div class="ajax_div">
        </div>
        <div class="container">
            {% if user.is_authenticated %}
                <h4 id="websiteModalBtn">Create New Website</h4>
                <br>
                <!-- The Modal -->
                <div id="websiteModal" class="website_modal">

                    <!-- Modal content -->
                    <div class="website_modal_content">

                        <form method="post" enctype="multipart/form-data" class="website_upload_form">
                            {% csrf_token %}
                            <div class="website-input-row">
                                <h2>Create Website</h2>
                                <span>
                                <span class="website-close">&times;</span>
                            </span>
                            </div>
                            <div class="website_gallery">
                                <div class="website_info">
                                    <input type="text" id="website_title" name="web_name" class="resizedTextbox"
                                           placeholder="Website Name">
                                    <input type="text" id="website_tag" name="web_link" placeholder="Website Link"
                                           class="resizedTextbox">
                                    <input list="categories" id="website_category" name="website_category"
                                           placeholder="Website Category" class="resizedTextbox">
                                    <datalist id="categories">{% for c in website_cats %}
                                        <option value="{{ c.name }}">{% endfor %}</datalist>
                                    <input type="text" id="web_youtube" name="web_youtube" placeholder="YouTube Link"
                                           class="resizedTextbox">
                                    <input type="date" id="web_date" name="web_date" class="resizedTextbox">
                                    <br>
                                    <br>
                                    <br>
                                    <p>Website Main Page</p>
                                    <input type="file" id="website_main_page" name="website_main_page"
                                           class="resizedTextbox">
                                    <input type="text" id="web_alt_text" name="web_alt_text"
                                           placeholder="Website Main Page - Alt Text"
                                           class="resizedTextbox">
                                </div>
                                <div class="website-details-row">
                                    <textarea id="web_details" name="web_details" cols="30" rows="10"
                                              placeholder="Website Details"></textarea>
                                </div>
                                <div class="website-still-input-row">
                                    <h2>Website Stills</h2>
                                    <input class='website_modal_btn' name="images" type="file" multiple
                                           id="gallery-website-still-add">
                                </div>
                                <div class="website_gallery_images" id="website_gallery_images"></div>
                            </div>
                            <div class="website-submit-row">
                                <input class='website_modal_btn' type="submit" id="sub-btn" value="Create website">
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="website_card_container {{ website.category.slug }} infinite-container" id="website_card_container">
            {% for website in websites %}
                <div class="website-card infinite-item element_move">
                    <img src="{{ website.main_page.url }}" class="website_cover"/>
                    <div class="web_gradient">
                        <div class="website_header">
                            <div class="website_name_container"><p>{{ website.website_name }}</p></div>
                            <div class="website_date_container"><p>{{ website.date_built }}</p></div>
                        </div>

                        <div class="website_read_more">
                            <a href="{% url 'website_single_view' website.category.slug website.slug %}"
                               class="website_button">Read
                                More</a>
                        </div>
                        <div class="website_cat_header">
                            <div class="website_category_container"><p>Websites/ {{ website.category }}</p></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="loading" style="display: none;">
            <img src="{% static "R_E_M/img/loading_spiral.gif" %}" alt="loading_spiral.gif">
        </div>

        {% if websites.has_next %}
            <div class="more_link">
                <a class="infinite-more-link more_button" href="?page=

                        {{ websites.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Load
                    More
                    Websites</a>
            </div>
        {% endif %}
    </div>
    <script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}"></script>
    <!-- webdev specific javascript -->
    <script src="{% static 'javascript/web_dev_bottom.js' %}"></script>

{% endblock %}

{% block footer %}
    {% include 'footer_base.html' %}
{% endblock %}
