{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remus Ex Machina | Remington Henderson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/reset_style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">

</head>

<header id="header" role="banner">
    <div class="header-inner">
        <label for="mobileNavToggle" class="mobile-nav-toggle-label show-on-scroll-mobile">
            <div class="top-bar"></div>
            <div class="middle-bar"></div>
            <div class="bottom-bar"></div>
        </label><!-- comment the linebreak between these two elements because science
          -->
        <div id="headerNav" class="tmpl-loading">

            <div id="mainNavWrapper" class="nav-wrapper desktop-nav-wrapper show-on-scroll">
                <nav id="mainNavigation" data-content-field="navigation">


                    <div class="external">
                        <a href="{% url 'blog_home' %}">
                            Blog
                        </a>
                    </div>

                    <div class="external">
                        <a href="{% url 'photos_home' %}">
                            Photos
                        </a>
                    </div>

                    <div class="external" style="margin-right: 20px;">
                        <a href="{% url 'movie_home' %}">
                            Filmmaking
                        </a>
                    </div>
                    <div id="logoWrapper" class="title-logo-wrapper" data-content-field="site-title">

                        <h1 id="logoImage" class="tmpl-loading logo-image"><a href="{% url "home" %}"><img
                                src="/static/R_E_M/img/REM(452x151).png"
                                alt="REM logo"/></a></h1>

                    </div>
                    <div class="external" style="margin-left: 20px;">
                        <a href={% url "webdev" %}>
                            Web Dev
                        </a>
                    </div>

                    <div class="folder">
                        <input type="checkbox" name="folder-toggle-565c2ce3e4b01110e1dff605"
                               id="folder-toggle-565c2ce3e4b01110e1dff605" class="folder-toggle-box hidden"/>
                        <label for="folder-toggle-565c2ce3e4b01110e1dff605" class="folder-toggle-label" onclick
                               data-href="/info/">Info</label>
                        <div class="subnav">

                            <div class="collection">
                                <a href="{% url 'about' %}">
                                    Bio
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="collection">
                        <a href="{% url 'contact' %}">
                            Contact
                        </a>
                    </div>


                </nav>
            </div>
            <!-- style below blocks out the mobile nav toggle only when nav is loaded -->
            <style>.mobile-nav-toggle-label {
                display: inline-block;
            }</style>


        </div>
    </div>
</header>


{% block content %}
{% endblock %}