/*! CSS Used from: https://static1.squarespace.com/static/sitecss/55ca0e9fe4b0e3531a269135/545/52e96934e4b0ea14d0f64568/565bde74e4b0a63eb2d48083/1112-05142015/1514119644508/site.css?&filterFeatures=false */
header, nav {
    display: block;
}

a {
    background: transparent;
}

a:focus {
    outline: thin dotted;
}

a:active, a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

/*
img {
    border: 0;
}
*/

input {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
}

a, a:visited {
    color: #156f99;
    text-decoration: none;
}

h1 {
    text-rendering: optimizeLegibility;
}

h1:not(.site-title):not(.page-title) {
    color: #201713;
}

h1:not(.site-title):not(.entry-title) {
    margin: 1.5em auto .3em;
}

h1:not(.site-title):not(.entry-title):first-child {
    margin-top: 0;
}

.header-inner {
    width: auto;
    margin: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html:not(.no-js) body:not(.always-use-overlay-nav) #headerNav {
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

#header {
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1002;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1em;
    position: relative;
}

#header a {
    text-decoration: none;
}

#header {
    background-color: #000;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.header-inner {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header-inner {
    padding: 10px 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#logoWrapper {
    z-index: 1000;
}

#logoWrapper h1 {
    opacity: 1;
    -webkit-transition: opacity .14s ease-in-out;
    -moz-transition: opacity .14s ease-in-out;
    -ms-transition: opacity .14s ease-in-out;
    -o-transition: opacity .14s ease-in-out;
    transition: opacity .14s ease-in-out;
}

#header {
    width: 100%;
}

#header #logoWrapper, #header #headerNav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    vertical-align: middle;
}

#header #mainNavWrapper {
    text-align: center;
}

/*#header #logoWrapper {*/
/*position: relative;*/
/*left: 50%;*/
/*-webkit-transform: translate(-50%, 0);*/
/*-moz-transform: translate(-50%, 0);*/
/*-ms-transform: translate(-50%, 0);*/
/*-o-transform: translate(-50%, 0);*/
/*transform: translate(-50%, 0);*/
/*text-align: center;*/
/*}*/

#header #logoWrapper, #header #logoImage {
    height: auto;
    width: 80px;
    line-height: 1;
}

/*#header #logoWrapper {*/
/*z-index: 1001;*/
/*}*/

#logoImage {
    margin: 0;
    font-size: 0;
    max-width: 100%;
}

#logoImage a {
    display: block;
}

#logoImage img {
    margin-top: 5px;
    width: 80px;
    max-width: 80px;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

nav {
    display: flex;
    justify-content: center;
}

#mainNavWrapper nav a, #mainNavWrapper nav a:visited, #mainNavWrapper nav label {
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: din-condensed-web;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    color: rgba(255, 255, 255, .9);
}

#mainNavWrapper nav a:hover, #mainNavWrapper nav a:visited:hover, #mainNavWrapper nav label:hover, #mainNavWrapper nav a:active, #mainNavWrapper nav a:visited:active, #mainNavWrapper nav label:active {
    color: #ee9f2f;
    outline: none;
}

#mainNavWrapper nav .subnav {
    background-color: #000;
    z-index: 1002;
}

body:not(.always-use-overlay-nav) .nav-wrapper {
    position: relative;
}

body:not(.always-use-overlay-nav) .nav-wrapper nav > div {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

body:not(.always-use-overlay-nav) .nav-wrapper nav > div a, body:not(.always-use-overlay-nav) .nav-wrapper nav > div label {
    -webkit-transition: color .1s 0s ease-in-out;
    -moz-transition: color .1s 0s ease-in-out;
    -ms-transition: color .1s 0s ease-in-out;
    -o-transition: color .1s 0s ease-in-out;
    transition: color .1s 0s ease-in-out;
    outline: none;
}

body:not(.always-use-overlay-nav) .nav-wrapper nav > div > a, body:not(.always-use-overlay-nav) .nav-wrapper nav > div label {
    display: block;
    padding: .75em 1em;
}

body:not(.always-use-overlay-nav) .nav-wrapper.desktop-nav-wrapper .folder .subnav {
    text-align: left;
    padding: 1em 0;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: -.5em;
    z-index: 1000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform .14s 0s ease-in-out;
    -moz-transition: -moz-transform .14s 0s ease-in-out;
    -ms-transition: -ms-transform .14s 0s ease-in-out;
    -o-transition: -o-transform .14s 0s ease-in-out;
    transition: transform .14s 0s ease-in-out;
}

body:not(.always-use-overlay-nav) .nav-wrapper.desktop-nav-wrapper .folder .subnav > div {
    opacity: 0;
    padding: 0;
    -webkit-transition: opacity .05s 0s ease-in-out;
    -moz-transition: opacity .05s 0s ease-in-out;
    -ms-transition: opacity .05s 0s ease-in-out;
    -o-transition: opacity .05s 0s ease-in-out;
    transition: opacity .05s 0s ease-in-out;
}

body:not(.always-use-overlay-nav) .nav-wrapper.desktop-nav-wrapper .folder .subnav > div a {
    display: block;
    padding: .5em 1.5em;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

body:not(.always-use-overlay-nav) .nav-wrapper.desktop-nav-wrapper .folder:hover .subnav {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

body:not(.always-use-overlay-nav) .nav-wrapper.desktop-nav-wrapper .folder:hover .subnav > div {
    opacity: 1;
    -webkit-transition: opacity .14s .14s ease-in-out;
    -moz-transition: opacity .14s .14s ease-in-out;
    -ms-transition: opacity .14s .14s ease-in-out;
    -o-transition: opacity .14s .14s ease-in-out;
    transition: opacity .14s .14s ease-in-out;
}

.mobile-nav-toggle-label {
    top: 10px;
    left: 10px;
}

.folder {
    position: relative;
}

.folder-toggle-label {
    cursor: pointer;
}

.mobile-nav-toggle-label {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1010;
    width: 10%;
    position: absolute;
    z-index: 1002;
    top: 10px;
    left: 10px;
    padding: 0;
    vertical-align: middle;
    line-height: 16px;
    text-align: right;
    cursor: pointer;
    user-select: none;
    color: rgba(255, 255, 255, .9);
    width: 22px;
    height: 22px;
}

.mobile-nav-toggle-label .top-bar, .mobile-nav-toggle-label .middle-bar, .mobile-nav-toggle-label .bottom-bar {
    width: 22px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: -webkit-transform .1s 0s ease-in-out, top .1s .1s ease-in-out;
    -moz-transition: -moz-transform .1s 0s ease-in-out, top .1s .1s ease-in-out;
    -ms-transition: -ms-transform .1s 0s ease-in-out, top .1s .1s ease-in-out;
    -o-transition: -o-transform .1s 0s ease-in-out, top .1s .1s ease-in-out;
    transition: transform .1s 0s ease-in-out, top .1s .1s ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.mobile-nav-toggle-label .middle-bar {
    -webkit-transition: opacity 0s .15s linear;
    -moz-transition: opacity 0s .15s linear;
    -ms-transition: opacity 0s .15s linear;
    -o-transition: opacity 0s .15s linear;
    transition: opacity 0s .15s linear;
    top: 7px;
}

.mobile-nav-toggle-label .bottom-bar {
    top: 14px;
}

#mobileNavToggle:checked ~ #header {
    pointer-events: none;
    background-color: transparent;
}

#mobileNavToggle:checked ~ #header .mobile-nav-toggle-label {
    pointer-events: auto;
}

#mobileNavToggle:checked ~ #header h1 {
    pointer-events: auto;
}

#mobileNavToggle:checked ~ #header .mobile-nav-toggle-label {
    z-index: 1011;
}

#mobileNavToggle:checked ~ #header .mobile-nav-toggle-label .top-bar, #mobileNavToggle:checked ~ #header .mobile-nav-toggle-label .bottom-bar {
    -webkit-transition: top .1s .1s ease-in-out, -webkit-transform .1s .2s ease-in-out;
    -moz-transition: top .1s .1s ease-in-out, -moz-transform .1s .2s ease-in-out;
    -ms-transition: top .1s .1s ease-in-out, -ms-transform .1s .2s ease-in-out;
    -o-transition: top .1s .1s ease-in-out, -o-transform .1s .2s ease-in-out;
    transition: top .1s .1s ease-in-out, transform .1s .2s ease-in-out;
}

#mobileNavToggle:checked ~ #header .mobile-nav-toggle-label .top-bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

#mobileNavToggle:checked ~ #header .mobile-nav-toggle-label .middle-bar {
    opacity: 0;
}

#mobileNavToggle:checked ~ #header .mobile-nav-toggle-label .bottom-bar {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 7px;
}

@media only screen and (max-width: 640px) {
    .mobile-nav-toggle-label {
        top: 20px;
        left: 20px;
    }
}

.mobile-nav-toggle-label {
    display: none;
}

@media only screen and (max-width: 768px) {
    #header #headerNav {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    body:not(.always-use-overlay-nav) .mobile-nav-toggle-label {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #header #headerNav {
        display: none;
    }

    #header #logoWrapper {
        display: inline-block;
        width: auto;
        height: auto;
        max-width: 70%;
        vertical-align: middle;
        padding: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #header #logoWrapper #logoImage img {
        max-height: 50px;
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 640px) {
    #header {
        padding: 0 20px;
    }

    .header-inner {
        padding: 20px 0;
        display: block;
    }

    h1:not(.site-title):not(.page-title):not(.flyoutitem-title) {
        font-size: 34px !important;
    }
}

/*! CSS Used from: Embedded */
.mobile-nav-toggle-label {
    display: inline-block;
}

/*! CSS Used fontfaces */
@font-face {
    font-family: din-condensed-web;
    src: url(https://use.typekit.net/af/3b5627/0000000000000000000146b3/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/3b5627/0000000000000000000146b3/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/3b5627/0000000000000000000146b3/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
}

