.webdev_content_container {
    margin: 20px auto;
    text-align: center;
    align-items: center;
    width: 70%;
}

.webdev_content_container iframe {
    margin-top: 20px;
    width: 100%;
}

.webdev_content_container pre {
    margin-top: 30px;
    font-size: 1.25em;
    text-align: left;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    padding-bottom: 30px;
}

.webdev_header {
    margin: 15px;
}

.webdev_header h1 {
    font-size: 5em;
    /*font-weight: bold;*/
}

.webdev_header a {
    font-size: 1.5em;
    padding: 10px;
}

.webdev_header hr {
    width: 10%;
}

.slider-single img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*height: 500px;*/
}

.slider-nav img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1024px) and (min-width: 766px) {
    .webdev_content_container {
        width: 80%;
    }

    .webdev_content_container iframe {
        margin-top: 10px;
        width: 100%;
    }

    .webdev_content_container pre {
        margin-top: 10px;
        font-size: 1em;
        text-align: left;
        white-space: pre-wrap; /* Since CSS 2.1 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */

    }

    .webdev_header {
        margin: 5px;
    }

    .webdev_header h1 {
        font-size: 2em;
        /*font-weight: bold;*/
    }

    .webdev_header a {
        font-size: 1.5em;
        padding: 10px;
    }

    .webdev_header hr {
        width: 10%;
    }
}


@media only screen and (max-width: 766px) {
    .webdev_content_container {
        width: 80%;
    }

    .webdev_content_container iframe {
        margin-top: 10px;
        width: 100%;
        height: 200px;
    }

    .webdev_content_container pre {
        margin-top: 10px;
        font-size: 1em;
        text-align: left;
        white-space: pre-wrap; /* Since CSS 2.1 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }

    .webdev_header {
        margin: 5px;
    }

    .webdev_header h1 {
        font-size: 2em;
        /*font-weight: bold;*/
    }

    .webdev_header p {
        font-size: 1.5em;
        padding: 10px;
    }

    .webdev_header hr {
        width: 10%;
    }

    .slider-single img {
        height: 150px;
    }

}

/* ************* Slick Slide ************** */

.js .slider-single > div:nth-child(1n+2) {
    display: none
}

.js .slider-single.slick-initialized > div:nth-child(1n+2) {
    display: block
}

h3 {
    background: #f0f0f0;
    color: #3498db;
    font-size: 2.25rem;
    margin: .5rem;
    padding: 2%;
    position: relative;
    text-align: center;
}

.slider-single h3 {
    line-height: 10rem;
}

.slider-nav h3::before {
    content: "";
    display: block;
    padding-top: 75%;
}

.slider-nav h3 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-nav .slick-slide {
    cursor: pointer;
}

.slick-slide.is-active h3 {
    color: #c00;
    background-color: #fff;
}

.slick-slide img {
    margin-left: auto;
    margin-right: auto;
}

.preview_image {
    width: 80px;
    margin: 10px;
    vertical-align: middle;
}





